.style-form{
    justify-content:space-around;
    width: 100%;
}
.adminModif-style{
    height: 12%;
    width:100%;
}

.linkStyle{
    border-radius: 10px;
    border:solid 2px black;
    font-size:17px;
    font-weight:500 ;
    color: black;
    background-color: #4B30B5;
    text-decoration: none;
    width:70%;
    height:100%;
}

.containerWidth{
    width:100%;
}

.label_user{
    border: solid 1px black;
    baokground-color: hsl(252, 58%, 45%,0.7);
    border-radius: 5px;
}

.logo-modif{
    height:20px;
    width:20px;
}

.table-modif{
    width:90%;
    table-layout: fixed;
}


.table-modif :last-child td{
    width: 30px;
}
.table-modif2{
    width:50%;
    margin: 20px;
    table-layout: fixed;
}
.linkStyle2{
    border-radius: 10px;
    border:solid 2px black;
    font-size:17px;
    font-weight:500 ;
    color: black;
    background-color: #4B30B5;
    text-decoration: none;
    width:15%;
    height:100%;
}
.linkStyle3{
    border-radius: 10px;
    border:solid 2px black;
    font-size:17px;
    font-weight:500 ;
    color: black;
    background-color: #4B30B5;
    text-decoration: none;
    width:30%;
    height:50%;
}

.linkStyle4{
    border-radius: 15px;
    border:solid 2px black;
    font-size:17px;
    font-weight:500 ;
    color: black;
    background-color: #4B30B5;
    text-decoration: none;
    width:30%;
    height:100%;
    padding:10px;

}
.table-modif2 {
    width: 100%;
    border-collapse: collapse;
}
.table-modif3{
    width:80%;
    border-color: collapse;

}
.table-modif3 td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-modif3 input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table-modif2 td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-modif2 input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Pour le header du tableau */
.text-center {
    text-align: center;
    font-weight: bold;
    background-color: #f5f5f5;
}
.circle-arrow:hover{
    background-color: #4B30B5;
}